/*
Original design: Learn CSS (mobile edition - Dec 09, 2010) - A free xhtml/css website template by Andreas Viklund.
For more information, see http://andreasviklund.com/templates/learn-css/
and
http://andreasviklund.com/learn/tutorial-building-your-first-website-using-a-free-website-template-part-1/
*/

body {
    background:#111 url(bg.jpg) top center fixed; 
    font:83% helvetica,tahoma,verdana,sans-serif; 
    color:#eee; line-height:1.7em;
}

a {
    color:#dcb975; text-decoration:none;
}

a:hover {
    color:#fff;
}

h1 {
    font-size:2.4em; margin:0; padding:20px 0 0 20px;
}

h2,h3 {
    font-size:1.8em; margin:0 0 10px; padding:0;
}

h3 {
    font-size:1.4em;
}

p,ul,ol {
    margin:0 0 20px 0;
    padding:0;
}

#wrap, #header, #hmenu, #sidebar, #main, #quarters, #footer {
    width:620px;
    clear:both; 
    margin:0 0 20px 0;
}

#wrap {
    background:none; margin:20px auto;
}

#header {
    background-image: url(header.png); 
    height:100px; background-position:top center;
}
#header h1, #header h1 a {
    color:#eee; line-height:1em; text-shadow: #000 3px 3px 5px;
}
#header p {
    padding:10px 0 0 20px; margin:0; font-size:1.6em; text-shadow: #000 3px 3px 5px;
}

.skiplink p {
    text-align:center; padding:10px 0; margin:0;
}

#hmenu p {
    text-align:center; margin-bottom:30px;
}
#hmenu a {
    color:#dcb975; font-size:1.4em; padding:8px; margin:0 10px;
}
#hmenu a:hover {
    color:#eee;
}
#hmenu a.current {
    color:#dcb975; border-bottom: 1px dotted #ccc;
}

#sidebar {
    margin:0; padding:0;
}
#sidebar h2 {
    font-size:1.2em; color:#ccc; margin:0 0 5px 0;
}
#sidebar p {
    font-size:0.9em; color:#ccc;
}
#sidebar ul {
    list-style:none;
}

#main {
    margin:0 0 20px 0;
}
#main a {
    padding-bottom:1px; border-bottom:1px dotted #555;
}
#main a:hover, #footer a:hover {
    border-color:#ccc;
}

#footer p {
    color:#888; margin:0; padding:10px 0 5px; text-align:center;
}
#footer a {
    color:#888; padding-bottom:1px; border-bottom:1px dotted #555;
}
#footer a:hover {
    color:#ccc;
}